{% load staticfiles %}

<html>
    <head>
        {% block head %}
            <title>iWear</title>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
            <script src="{% static "api_calls.js" %}"></script>
            <script src="{% static "scriptcaller.min.js" %}"></script>
            <link rel="stylesheet" href="{% static "zurb/css/foundation.min.css" %}">
            <script>
                // Setup CSRF token for AJAX requests
                function csrf_safe_method(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                };
                $.ajaxSetup({
                    cache: false,
                    beforeSend: function(xhr, settings) {
                       if (!csrf_safe_method(settings.type)) {
                           xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                       }
                    }
                });
            </script>
        {% endblock head %}
    </head>
    <body>
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li class="menu-text">iWear</li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'stylist:my_items' %}">My wardrobe</a></li>
                        <li><a href="{% url 'stylist:forecast' %}">Forecast</a></li>
                        <li><a href="{% url 'stylist:logout' %}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <br>
        {% block content %}
        {% endblock content %}
        <footer>
            <ul class="menu align-right">
                <li class="menu-text"><a href="https://www.yahoo.com/?ilc=401" target="_blank"><img src="https://poweredby.yahoo.com/purple.png" width="134" height="29"/></a></li>
            </ul>
        </footer>
    </body>
</html>

