{% load staticfiles %}

<html>
    <head>
        {% block head %}
            <title>iWear</title>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
            <script src="{% static "api_calls.js" %}"></script>
            <script src="{% static "scriptcaller.min.js" %}"></script>
            <script>
                // Setup CSRF token for AJAX requests
                function csrf_safe_method(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                };
                $.ajaxSetup({
                    cache: false,
                    beforeSend: function(xhr, settings) {
                       if (!csrf_safe_method(settings.type)) {
                           xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                       }
                    }
                });
            </script>
        {% endblock head %}
    </head>
    <body>
        {% if request.user.is_authenticated %}
        <a href="{% url 'stylist:my_items' %}">My wardrobe</a> | <a href="{% url 'stylist:forecast' %}">Forecast</a> | <a href="{% url 'stylist:logout' %}">Logout</a>
        {% endif %}
        {% block content %}
        {% endblock content %}
    </body>
</html>

