{% extends "stylist/base.html" %}

{% block content %}
<div class="row medium-8 large-4 columns">
    <h3>Login</h3>
    <form action='' method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row">
            <div class="large-4 columns">
                <input type="submit" value="Sign in">
            </div>
            <div class="large-8 columns text-right">
                If you don't have an account, <a href="{% url 'stylist:signup' %}">Sign up</a>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
