{% extends "stylist/base.html" %}

{% block content %}
<div class="row medium-8 large-4 columns">
    <h3>Sign up</h3>
    <form id="signup" action='' method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Sign up">
    </form>
</div>
<script>
    $("#signup").submit(function(event) {
        getWoeid($('#id_zip_code').val());
        event.preventDefault();
    });
</script>

<script>
    function getWoeid(zip_code) {
        var YQL = "https://query.yahooapis.com/v1/public/yql";
        var url = YQL + "?q=select woeid from geo.places where text='" + zip_code + ",US" + "' and placeTypeName='Zip Code' limit 1;&format=json";
        // Test: url = "/static/test_signup.js";
        apiCall(url, callbackFunction)
    }

    var callbackFunction = function(data, retryFunc) {
        try {
            var results = data.query.results;
            if (results) {
                var woeid = results.place.woeid;
                if (woeid != undefined) {
                    $('#id_woeid').val(woeid);
                    $("#signup").off( "submit" ).submit();
                } else {
                    alert("Please correct Zip code and try again.");
                }
            } else {
                alert("Please correct Zip code and try again.");
            }
        } catch(e) {
            retryFunc("Problem communicating with the server. Try again later.");
        }
    };
</script>
{% endblock content %}
